In [61]:
#Introduction
# source : https://pypi.org/project/SQLAlchemy/

#""" SQLAlchemy is the popular Python SQL toolkit and Object Relational Mapper(ORM) that gives application 
#developers the full power and flexibility of SQL.It provides a robust suite of tools for managing enterprise-level database access, 
#designed for efficient performance and ease of use.
#1. SQLAlchemy include powerful ORM system which built on foundational patterns like the identity map, unit of work, and data mapper. 
#   These patterns enable seamless persistence of objects using a declarative system. 
#2. SQLAlchemy offers a relationally-focused query system that supports joins, subqueries, correlations, and other complex operations.
#3. Related objects and collections can be preloaded efficiently within a session.
#  This can be done for individual objects, through joins, or for entire result sets, depending on the specific requirements.
#4. SQLAlchemy includes a robust SQL construction system and a DBAPI interaction layer.
#The Core component of SQLAlchemy operates independently from the ORM and acts as a comprehensive database abstraction layer.
# It provides features like an extensible Python-based SQL expression language, schema metadata management, connection pooling,  #  type coercion, and support for custom types.
#5. SQLAlchemy assumes primary and foreign key constraints to be intuitive and flexible, 
#  with surrogate integer primary keys being a common practice
#6. Database introspection and schema generation are streamlined. Using SQLAlchemy, 
# database schemas can be "reflected" into Python structures representing database metadata. """

In [ ]:
#Advantages


# 1. Cross-Database Compatibility:
#    SQLAlchemy supports various databases, including SQLite, MySQL, PostgreSQL, SQL Server, and Oracle. 
#    Switching databases is as easy as changing the database connection URL.
#
# 2. Simplified ORM Usage:
#    The ORM enables developers to interact with the database through Python objects, making the code easier 
#    to read and maintain, especially for complex systems.
#
# 3. Flexible Query Building:
#    SQLAlchemy combines the convenience of ORM with the precision of raw SQL, offering a robust query-generation system.
#
# 4. Performance Enhancements:
#    Features like connection pooling and lazy loading allow for efficient database performance.
#
# 5. Highly Extensible:
#    SQLAlchemy integrates seamlessly with frameworks such as Flask and FastAPI, making it ideal for building 
#    scalable web applications.

# Limitations:
# 1. Steep Learning Curve:
#    For newcomers to databases, learning SQLAlchemy can be challenging due to its complexity.
#
# 2. Performance Trade-offs:
#    While ORM simplifies database operations, it may add some performance overhead for highly intricate queries 
#    compared to directly using raw SQL.
#
# 3. Configuration Overhead:
#    Configuring SQLAlchemy, especially for large-scale projects with advanced features, can be time-intensive.
#
# 4. Verbosity:
#    In some cases, SQLAlchemy's syntax can be more verbose compared to simpler database libraries like SQLite3, 
#    particularly for smaller or straightforward applications.

# Overall, SQLAlchemy is a versatile tool that balances flexibility and power, making it suitable for both small 
# and large projects, despite some initial complexity.

In [55]:
from sqlalchemy import create_engine, Table, select,text
import pandas as pd

In [56]:
df = pd.read_csv("diabetic_data.csv")
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [57]:
# Full path to your SQLite database file
DATABASE_PATH = r"C:\Users\u1504835\sqlite\diabetes.db"

# SQLite connection string
DATABASE_URL = f"sqlite:///{DATABASE_PATH}"

# Create an SQLAlchemy engine
engine = create_engine(DATABASE_URL)

# Load the DataFrame into the database
table_name = "diabetes"  # Table name
df.to_sql(table_name, con=engine, if_exists="replace", index=False)

101766

In [58]:
with engine.connect() as connection:
    result = connection.execute(text("select * from diabetes limit 10"))
    for row in result:
        print(row)

(2278392, 8222157, 'Caucasian', 'Female', '[0-10)', '?', 6, 25, 1, 1, '?', 'Pediatrics-Endocrinology', 41, 0, 1, 0, 0, 0, '250.83', '?', '?', 1, None, None, 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'NO')
(149190, 55629189, 'Caucasian', 'Female', '[10-20)', '?', 1, 1, 7, 3, '?', '?', 59, 0, 18, 0, 0, 0, '276', '250.01', '255', 9, None, None, 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Up', 'No', 'No', 'No', 'No', 'No', 'Ch', 'Yes', '>30')
(64410, 86047875, 'AfricanAmerican', 'Female', '[20-30)', '?', 1, 1, 7, 2, '?', '?', 11, 5, 13, 2, 0, 1, '648', '250', 'V27', 6, None, None, 'No', 'No', 'No', 'No', 'No', 'No', 'Steady', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'NO')
(500364, 82442376, 'Caucasian', 'Male', '[30-40)', '?', 1, 1, 7, 2, '?', '?', 44, 1, 16, 0, 0, 0, '8', '250.43', '403', 7, None, None, 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Up', 'No', 'No', 'No', 'No', 'No', 'Ch', 'Yes', 'NO')
(16680, 42519267, 'Caucasian', 'Male', '[40-50)', '?', 1, 1, 7, 1, '?', '?', 51, 0, 8, 0, 0, 0, '197', '157', '250', 5, None, None, 'No', 'No', 'No', 'No', 'No', 'No', 'Steady', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Steady', 'No', 'No', 'No', 'No', 'No', 'Ch', 'Yes', 'NO')
(35754, 82637451, 'Caucasian', 'Male', '[50-60)', '?', 2, 1, 2, 3, '?', '?', 31, 6, 16, 0, 0, 0, '414', '411', '250', 9, None, None, 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Steady', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', '>30')
(55842, 84259809, 'Caucasian', 'Male', '[60-70)', '?', 3, 1, 2, 4, '?', '?', 70, 1, 21, 0, 0, 0, '414', '411', 'V45', 7, None, None, 'Steady', 'No', 'No', 'No', 'Steady', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Steady', 'No', 'No', 'No', 'No', 'No', 'Ch', 'Yes', 'NO')
(63768, 114882984, 'Caucasian', 'Male', '[70-80)', '?', 1, 1, 7, 5, '?', '?', 73, 0, 12, 0, 0, 0, '428', '492', '250', 8, None, None, 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Steady', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', '>30')
(12522, 48330783, 'Caucasian', 'Female', '[80-90)', '?', 2, 1, 4, 13, '?', '?', 68, 2, 28, 0, 0, 0, '398', '427', '38', 8, None, None, 'No', 'No', 'No', 'No', 'No', 'No', 'Steady', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Steady', 'No', 'No', 'No', 'No', 'No', 'Ch', 'Yes', 'NO')
(15738, 63555939, 'Caucasian', 'Female', '[90-100)', '?', 3, 3, 4, 12, '?', 'InternalMedicine', 33, 3, 18, 0, 0, 0, '434', '198', '486', 8, None, None, 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Steady', 'No', 'No', 'No', 'No', 'No', 'No', 'Steady', 'No', 'No', 'No', 'No', 'No', 'Ch', 'Yes', 'NO')